    @import "../node_modules/bootstrap/scss/bootstrap";
    @import "~bootstrap-icons/font/bootstrap-icons.css";
    .page {
        position: relative;
        min-height: 100%;
    }
    
    .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
        --bs-gutter-x: 0px !important;
    }
    
    .h10 {
        height: 10px;
        clear: both;
    }
    
    .h20 {
        height: 20px;
        clear: both;
    }
    
    .h30 {
        height: 30px;
        clear: both;
    }
    
    .h50 {
        height: 50px;
        clear: both;
    }
    
    .h100 {
        height: 100px;
        clear: both;
    }
    
    .w-15 {
        width: 15%;
    }
    
    .w-85 {
        width: 85%;
    }
    
    @media only screen and (min-width: 550px) {
        .page {
            height: 744px;
        }
    }
    
    @media only screen and (min-width: 700px)and(min-height:1000px) {
        .page {
            height: 1024px;
        }
    }
    
    @media only screen and (min-width: 800px)and(max-height:700px) {
        .page {
            height: 768px;
        }
    }
    
    @media only screen and (min-width: 800px) {
        .page {
            height: 650px;
        }
    }
    
    @media only screen and (min-width: 1224px) {
        .page {
            height: 720px;
        }
    }
    
    @media only screen and (min-width: 1500px) {
        .page {
            height: 754px;
        }
    }
    
    @media only screen and (min-width: 1650px) {
        .page {
            height: 855px;
        }
    }
    
    @media only screen and (min-width: 1824px) {
        .page {
            height: 1080px;
        }
    }